.integrate {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;  */
    justify-content: space-evenly;
    
  }

.weather{
  margin-top: 80px;
}

.container1{
  display: flex;
  gap:55px;
  
}

.dash{
    width: 1000px; 
    height: 250px; 
    padding: 10px; 
    margin: 5px; 
    font-size: 14px; 
    box-sizing: border-box;
  }
  